#container {
    width: 1000px;
    height: 650px;
    position: absolute;
    margin-left: 12%;
    margin-top: 0%;
    border: solid 1px lightgrey;
}

#sample-button {
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#load-sample {
    position: absolute;
    margin-top: 1%;
    margin-left: 33.7%;
    cursor: pointer;
}

#start {
    position: absolute;
    margin-top: 7%;
    margin-left: 34%;
    cursor: pointer;	
}

#plot {
    position: absolute;
    margin-top: 14%;
    margin-left: 34%;
    cursor: pointer;
}

#vertical-arrows {
	position: absolute;
    margin-left: 19%;
    margin-top: 8%;
    display: none;
    animation: vertical-arrows 1.5s ;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
   
}

@keyframes vertical-arrows {
    from {top: 0px;} to {top :110px ;}
}

#horizontal-arrows-1 {
    z-index: 2;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 59%;
    display: none; 
    animation: horizontal-arrows-1 1.5s ;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
   
}
@keyframes horizontal-arrows-1 {
    from {left: 0px;} to {left :170px ;}
}
#horizontal-arrows-2 {
    z-index: 2;
    position: absolute;
    margin-top: 20%;
    margin-left: 59%;
    display: none; 
    animation: horizontal-arrows-2 1.5s ;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
   
}
@keyframes horizontal-arrows-2 {
    from {left: 0px;} to {left :170px ;}
}

#below-arrow{
    position: absolute;
    margin-top: 56%;
    margin-left: 15%;
    display: none;
}

#up-arrow {
    position: absolute;
    margin-top: 24%;
    margin-left: 63%;
    display: none;
}

#molecules {
    position: absolute;
    margin-top: 3.7%;
    margin-left: 60%;
    width:26.2%;
    height: 35%;
}

/*#molecule1 {
    position: absolute;
    margin-left: 62%;
    margin-top: 6%;
    width: 6%;
    -moz-animation-name: molecule1;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse;
}

@-moz-keyframes molecule1
{
    from{-moz-transform:rotate(0deg );}
    to{-moz-transform:rotate(180deg );}    
}

#molecule2 {
    position: absolute;
    margin-left: 70%;
    margin-top: 5%;
    width: 6.5%;
    -moz-animation-name: molecule2;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse;
}

@-moz-keyframes molecule2
{
    from{-moz-transform:rotate(0deg );}
    to{-moz-transform:rotate(180deg );}    
}

#molecule3 {
    position: absolute;
    margin-left: 78%;
    margin-top: 5%;
    width: 5.5%;
    -moz-animation-name: molecule3;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse;
}

@-moz-keyframes molecule3
{
    from{-moz-transform:rotate(0deg );}
    to{-moz-transform:rotate(180deg );}    
}

#molecule4 {
    position: absolute;
    margin-left: 63%;
    margin-top: 10%;
    width: 6.5%;
    -moz-animation-name: molecule4;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse;
}

@-moz-keyframes molecule4
{
    from{-moz-transform:rotate(90deg );}
    to{-moz-transform:rotate(270deg );}    
}

#molecule5 {
    position: absolute;
    margin-left: 70%;
    margin-top: 13%;
    width: 6.5%;
    -moz-animation-name: molecule5;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse;
}

@-moz-keyframes molecule5
{
    from{-moz-transform:rotate(0deg );}
    to{-moz-transform:rotate(180deg );}    
}

#molecule6 {
    position: absolute;
    margin-left: 76%;
    margin-top: 12%;
    width: 6.5%;
    -moz-animation-name: molecule6;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse;
}

@-moz-keyframes molecule6
{
    from{-moz-transform:rotate(0deg );}
    to{-moz-transform:rotate(180deg );}    
}

#molecule7 {
    position: absolute;
    margin-left: 62%;
    margin-top: 18%;
    width: 7%;
    -moz-animation-name: molecule7;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse
}

@-moz-keyframes molecule7
{
    from{-moz-transform:rotate(0deg );}
    to{-moz-transform:rotate(180deg );}    
}

#molecule8 {
    position: absolute;
    margin-left: 72%;
    margin-top: 20.5%;
    width: 6%;
    -moz-animation-name: molecule8;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse
}

@-moz-keyframes molecule8
{
    from{-moz-transform:rotate(0deg );}
    to{-moz-transform:rotate(180deg );}    
}

#molecule9 {
    position: absolute;
    margin-left: 78%;
    margin-top: 19%;
    width: 6%;
    -moz-animation-name: molecule9;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse
}

@-moz-keyframes molecule9
{
    from{-moz-transform:rotate(0deg );}
    to{-moz-transform:rotate(180deg );}    
}*/

#magentic-field {
    z-index: 3;
    position: absolute;
    margin-top: 30%;
    margin-left: 1%;
    width: 45%; 
}

#curve{
    z-index: 1;
    position: absolute;
    margin-top: 41.5%;
    margin-left: 19%;
    width: 11%;
}

#constant-molecules {
    position: absolute;
    margin-top: 6%;
    margin-left: 64%;
    width: 21%;
    height: 28%;
    display: none;
}

#border {
    position: absolute;
    margin-left: 8%;
    margin-top: 3%;
}

#injector {
    position: absolute;
    margin-left:23%;
    margin-top: 10%; 
}

#red-injector {
    z-index: 2;
    position: absolute;
    margin-left:22.5%;
    margin-top: 10%; 
    display: none; 
    cursor: pointer; 
}

#blue-injector {
    z-index: 2;
    position: absolute;
    margin-left:23%;
    margin-top: 10%; 
    display: none;
    cursor: pointer;
}

#green-injector {
    z-index: 2;
    position: absolute;
    margin-left:23%;
    margin-top: 10%; 
    display: none;
    cursor: pointer;
}

#s-pole {
    position: absolute;
    margin-top: 3%;
    margin-left: 47.2%;

}

#n-pole {
    position: absolute;
    margin-top: 3%;
    margin-left: 85.5%;
}

#evaluate {
    position: absolute;
    margin-top: 59%;
    margin-left: 38.5%;
    cursor: pointer;
}

#benzene-graph, #acetaldehyde-graph, #ethyl-graph {
    z-index: 1%;
    position: absolute;
    margin-top: 34%;
    margin-left: 49.5%;
    width: 47%;
    height: 45%;
    display: none;
}

#graph {
    z-index: 1%;
    position: absolute;
    margin-top: 34%;
    margin-left: 49.5%;
    width: 48.5%;
    height: 45%;
}

#demo {
	position: absolute;
    margin-top: 9%;
    margin-left: 0%;
    
}

#ring{
	position: absolute;
	margin-top: 30%;
	margin-left: 20%;
	width: 9%;
	height: 7%;
	display: none;
}

#chem-border {
    position: absolute;
    margin-top: 9%;
    margin-left: 0%;
    display: none;
}

#benzene {
    position: absolute;
    margin-top: 10%;
    margin-left: 0.6%;
    width: 5.4%;
    height: 7.5%;
    display: none;
    cursor: pointer;

}

#acetaldehyde {
    position: absolute;
    margin-top: 9.9%;
    margin-left: 6.2%;
    width: 6%;
    display: none;
    cursor: pointer;
    border-color : red;
}

#ethyl {
    position: absolute;
    margin-top: 9.9%;
    margin-left: 12.4%;
    width: 5.8%;
    display: none;
    cursor: pointer;
    border-color: blue;
}

#reset{
    display: block;
    margin: auto;
    margin-top: 65%;
    align-content: center;
}