#yellowbtn{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 9%;
    height: 7%;
    border: darkblue;
}

#yellowtxt{
    position: absolute;
    top: 16%;
    left: 6%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%;
    font-weight: bold;
}


#redbtn{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 9%;
    height: 7%;
    border: darkred;
}

#redtxt{
    position: absolute;
    top: 26%;
    left: 6%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%;
    font-weight: bold;
}


#samplbotl{
    position: absolute;
    top: 31%;
    left: 18%;
    height: 15%;
}

#samplbtltxt{
    position: absolute;
    left: 16%;
    top: 48%;
}

#sampl{
    position: absolute;
    top: 3%;
    height: 18%;
    width: 4%;
    left: 18%;
}

#sampltxt{
    position: absolute;
    top: 23%;
    left: 18%;
}


#yellow{
    position: absolute;
    left: 18%;
    top: 42.8%;
    width: 1.8%;
    display: none;
}

#solvent{
    position: absolute;
    left: 27%;
    height: 22%;
    top: 3%;
    width: 5%;
}

#solventtxt{
    position: absolute;
    left: 28%;
    top: 26%;
}

#desicator{
    position: absolute;
    left: 36%;
    top: 3%;
    height: 18%;

}

#desicatortxt{
    position: absolute;
    left: 36%;
    top: 23%;
}

#hrline1{
    position: absolute;
    z-index: 4;
    top: 55%;
    width: 48%;
    border: 1px dotted black;
    border-style: none none dotted;
    color: white;
    background-color: white;
}


#hrline2{
    position: absolute;
    z-index: 4;
    top: 56%;
    width: 50%;
    border: 1px dotted black;
    border-style: none none dotted;
    color: white;
    background-color: white;
}



#hrline3{
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 55%;
    width: 50%;
    border: 1px dotted black;
    border-style: none none dotted;
    color: white;
    background-color: white;
}


#hrline4{
    position: absolute;
    z-index: 4;
    left: 55%;
    top: 56%;
    width: 48%;
    border: 1px dotted black;
    border-style: none none dotted;
    color: white;
    background-color: white;
}

#vrline1{
    position: absolute;
    left: 49%;
    border-left: thin dotted black;
    z-index: 4;
    height: 50%;
    top: 7%;
}

#vrline2{
    position: absolute;
    left: 49.7%;
    border-left: thin dotted black;
    z-index: 4;
    height: 50%;
    top: 6%;
}

#vrline3{

    position: absolute;
    left: 49.7%;
    border-left: thin dotted black;
    z-index: 4;
    height: 47%;
    top: 46%;
}

#vrline4{
    position: absolute;
    left: 49%;
    border-left: thin dotted black;
    z-index: 4;
    height: 45%;
    top: 50%;
}

#instr{
    position: absolute;
    top: 51%;
    left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%;
}


#exp{
    position: absolute;
    top: 1%;
    left: 50%;
    width: 55%;
    height: 50%;
}


#graph{
    position: absolute;
    top: 54%;
    left: 54%;
    height: 45%;
    width: 35%;
    z-index: 1;
}


#spectrometer{
    position: absolute;
    top: 64%;
    left: 18%;
    width: 25%;
    height: 25%;
}


#chain{
    position: absolute;
    top: 63%;
    left: 21%;
    width: 6%;
}

#bigchain{
    position: absolute;
    top: 60%;
    left: 26.5%;
    width: 12%;
}

#cap{
    position: absolute;
    top: 65%;
    left: 33%;
    width: 7.5%;
}

#strtbtn{
    position: absolute;
    top: 90%;
    left: 10%;
    width: 10%;
}


#evltbtn{
    position: absolute;
    top: 90%;
    left: 35%;
    width: 10%;
}


#fillsolution{
    position: absolute;
    left: 18%;
    top: 40.4%;
    width: 1.9%;
    display: none;
}


#fullsolution{
    position: absolute;
    left: 18.1%;
    top: 38%;
    width: 1.9%;
    display: none;
}

#slide{
    position: absolute;
    left: 35%;
    top: 30%;
    width: 5%;
    display: none;
}

#sirinj{
    position: absolute;
    left: 18.2%;
    top: 27%;
    height: 15%;
    display: none;
}

#fillsirinj{
    position: absolute;
    height: 10%;
    left: 18.6%;
    top: 32%;
    width: 1%;
    display: none;
}

#fillslide{
    position: absolute;
    left: 37%;
    top: 39%;
    width: 1.7%;
    height: 6%;
    display: none;
}


#fullslide{
    position: absolute;
    left: 37%;
    top: 39%;
    width: 1.7%;
    display: none;
}

#sirinj2{
    position: absolute;
    left: 38%;
    top: 44.5%;
    height: 3%;
    display: none;
}

#empty{
    position: absolute;
    left: 38%;
    top: 45.5%;
    height: 1%;
    display: none;
}


#machine{
    position: absolute;
    z-index: 5;
    top: 30%;
    left: 15%;
    height: 50%;
    display: none;
}

#mirror{
    position: absolute;
    top: 17.7%;
    left: 87%;
    height: 12.7%;
    display: none;
}