#container{
	width: 1000px;
	height: 660px;
	position: absolute;
	margin-left: 12%;
	margin-top: 0.5%;
	border: solid 1px lightgrey;
}

#load{
	position: absolute;
	margin-top: 3%;
	margin-left: 1%;
	cursor: pointer;
}

#ionisation{
	position: absolute;
	margin-top: 8%;
	margin-left: 1%; 
	cursor: pointer;
}

#acceleration{
	position: absolute;
	margin-top: 13%;
	margin-left: 1%;	
	cursor: pointer;
}

#deflection{
	position: absolute;
	margin-top: 18%;
	margin-left: 1%;
	cursor: pointer;
}

#evaluation{
	position: absolute;
	margin-top: 23%;
	margin-left: 1%;	
	cursor: pointer;
}

#syringe{
	z-index: 3;
	position: absolute;
	margin-top: 45%;
	margin-left: 1%;
	/*display: none;*/
}

#box{
	position: absolute;
	width: 75%;
	height: 50%;
	margin-top: 0.2%;
	margin-left: 15.8%;
}

#ions{
	z-index: 2;
	position: absolute;
	width: 55%;
	margin-top: 40%;
	margin-left: 40%;
	display: none;
}

#tube{
	z-index: 2;
	position: absolute;
	margin-top: 34%;
	margin-left: 39%;
	width: 60%;
	height: 35%;
	
}

/*#molecule{
	z-index: 3;
	position: absolute;
	margin-top: 35%;
	margin-left: 57%;
	display: none;
	-webkit-transition: 1s ease-in-out;
    -webkit-animation-direction: alternate;
    animation: molecule 5s ;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;; /* Safari 4.0 - 8.0 */
/*	animation-direction: alternate;
   
}

@keyframes molecule {
    from {left: 0px;} to {left: 10px;}
    from {top: 0px;} to {top :40px ;}
}*/

#arrow{
	position: absolute;
	margin-top: 0.3%;
	margin-left: 28%;
	display: none;

}

#arrow-2{
	position: absolute;
	margin-top: 1.5%;
	margin-left: 41.5%;
	display: none;
}


#square-2{
	position: absolute;
	margin-top:8.5%;
	margin-left: 38%;
	width: 11%;
	height: 21% ;
	display: none;
}

#square{
	position: absolute;
	margin-top:5%;
	margin-left: 18.3%;
	width: 15%;
	height: 24% ;
	display: none;
}

#curve{
	position: absolute;
	margin-top: 15%;
	margin-left: 17.5%;
	width: 24%;
	display: none;
}

#circle{
	position: absolute;
	margin-top: 27.6%;
	margin-left: 16.7%;
	width: 25.3%;
	display: none;
}

#color-lines {
	position: absolute;
	margin-left: 35%;
	margin-top: 26%;
	width: 35%;
	display: none;
}

#molecule{
	z-index: 4;
	position: absolute;
	margin-left: 57.2%;
	margin-top: 34.3%;
	animation: molecule 8s ;
	display: none;
    animation-iteration-count: 1;
    animation-direction: reverse-alternate;
}
@keyframes molecule{
	from{left:0px;} to {left: 90px;}
	from{top: 0px;} to {top:30px;}
}

#moving-molecules-1{
	z-index: 4;
	position: absolute;
	margin-top: 30%;
	margin-left: 68%;
	width: 4%;
	display: none;
	animation: moving-molecules-1 1.3s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes moving-molecules-1 {
    from {left: 0px;} to {left: 20px;}
}


#moving-molecules-2{
	z-index: 4;
	position: absolute;
	margin-top: 31%;
	margin-left: 63%;
	width: 4%;
	display: none;
	animation: moving-molecules-2 1.4s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moving-molecules-2 {
    from {left: 0px;} to {left: 18px;}
}

#moving-molecules-3{
	z-index: 4;
	position: absolute;
	margin-top: 33%;
	margin-left: 60%;
	width: 4%;
   	display: none;
    animation: moving-molecules-3 1.4s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moving-molecules-3 {
    from {left: 0px;} to {left: 20px;}
}

#moving-molecules-4{
	z-index: 4;
	position: absolute;
	margin-top: 33%;
	margin-left: 65.5%;
	width: 4%;
	display: none;
	animation: moving-molecules-4 1.3s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moving-molecules-4 {
    from {left: 0px;} to {left: 18px;}
}

#moving-molecules-5{
	z-index: 4;
	position: absolute;
	margin-top: 33.5%;
	margin-left: 63%;
	width: 4%;
	display: none;
	animation: moving-molecules-5 1.3s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moving-molecules-5 {
    from {left: 0px;} to {left: 20px;}
}

#moving-molecules-6{
	z-index: 4;
	position: absolute;
	margin-top: 35.8%;
	margin-left: 60.2%;
	width: 4%;
	display: none;
	animation: moving-molecules-6 1.4s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moving-molecules-6 {
    from {left: 0px;} to {left: 18px;}
}


#moving-molecules-7{
	z-index: 4;
	position: absolute;
	margin-top: 32.5%;
	margin-left: 68%;
	width: 4%;
	display: none;
	animation: moving-molecules-7 1.3s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moving-molecules-7 {
    from {left: 0px;} to {left: 20px;}
}

#moving-molecules-8{
	z-index: 4;
	position: absolute;
	margin-top: 34.5%;
	margin-left: 67.5%;
	width: 4%;
	display: none;
	animation: moving-molecules-8 1.4s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moving-molecules-8 {
    from {left: 0px;} to {left: 18px;}
}

#moving-molecules-9{
	z-index: 4;
	position: absolute;
	margin-top: 35.5%;
	margin-left: 64.5%;
	width: 4%;
	display: none;
	animation: moving-molecules-9 1.3s ;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moving-molecules-9 {
    from {left: 0px;} to {left: 20px;}
}

#electrode{
	position: absolute;
	margin-top: 27%;
	margin-left: 30%;
	width: 48%;
	height: 40%;
	display: none;

}

#demo{
	position: absolute;
	width: 800px;
	margin-left: 16%;
	margin-top: 47%;
	border : solid 1px black;
	display: none;
	/*border : 2px solid grey;*/
}

#step1, #step2, #step3, #step4 {
	position: absolute;
	margin-left: 13%;
	margin-top:47%;
	display: none;
}

#northpole {
	position: absolute;
	margin-left: 43%;
	margin-top: 28%;
	display: none;
}

#southpole {
	position: absolute;
	margin-left: 43%;
	margin-top: 48%;
	display: none;
}