#heading{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
    left: 40%;
    top: 10%;
    height: 10vh;
    line-height: 10vh;
    font-size: 7vh;
    text-align: center;
}

#select{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkblue;
    top: 45%;
    left: 17%;
    height: 10vh;
    line-height: 10vh;
    font-size: 4vh;
    text-align: center;
}


#btn1{
    position: absolute;
    top: 55%;
    left: 20%;
    height: 8%;
    width: 12%;
    cursor: pointer;
}

#btn2{
    position: absolute;
    top: 70%;
    left: 20%;
    height: 8%;
    width: 12%;
    cursor: pointer;
}

#sampl1{
    position: absolute;
    top: 54%;
    left: 21%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:#e58404;
    height: 10vh;
    line-height: 10vh;
    font-size: 3.5vh;
    cursor: pointer;
}


#sampl2{
    position: absolute;
    top: 69%;
    left: 21%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:#e58404;
    height: 10vh;
    line-height: 10vh;
    font-size: 3.5vh;
    text-align: center;
    cursor: pointer;
}

#selected1{
    position: absolute;
    top: 62%;
    left: 35%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    font-weight: bold;
    color: red;
    display: none;
}



#selected2{
    position: absolute;
    top: 62%;
    left: 35%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    font-weight: bold;
    color: red;
    display: none;
}

#expselect{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkblue;
    top: 45%;
    left: 60%;
    height: 10vh;
    line-height: 10vh;
    font-size: 4vh;
    text-align: center;
    display: none;
}

#exp1{
    position: absolute;
    left: 59%;
    top: 54%;
    width: 25%;
    height: 8%;
    display: none;
    cursor: pointer;
}


#exp2{
    position: absolute;
    left: 59%;
    top: 64%;
    width: 25%;
    height: 8%;
    cursor: pointer;
    display: none;
}


#exp3{
    position: absolute;
    left: 59%;
    top: 74%;
    width: 25%;
    height: 8%;
    cursor: pointer;
    display: none;
}

#exp1txt{
    position: absolute;
    left: 63%;
    top: 56%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    font-weight: bold;
    color:#726d66;
    cursor: pointer;
    display: none;

}


#exp2txt{
    position: absolute;
    left: 63%;
    top: 66%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    font-weight: bold;
    color:#726d66;
    cursor: pointer;
    display: none;
}


#exp3txt{
    position: absolute;
    left: 66%;
    top: 76%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    font-weight: bold;
    color:#726d66;
    cursor: pointer;
    display: none;
}

/* css starts for IR solution Experiment */

#IRcontainer{
    display: none;
}

#IRsampl{
    position: absolute;
    top: 7%;
    left: 15%;
    height: 15%;
    width: 5%;
    cursor: pointer;
}

#IRsampltxt{
    position: absolute;
    top: 22%;
    left: 16%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    height: 5vh;
    width: 6vh;
}

#IRnizol{
    position: absolute;
    top: 7%;
    left: 29%;
    height: 15%;
    width: 5%;
}

#IRnizoltxt{
    position: absolute;
    top: 22%;
    left: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    height: 5vh;
    width: 6vh;
}

#IRmortar{
    position: absolute;
    top: 32%;
    left: 18%;
    height: 12%;
    width: 12%;
}


#IRmortar1{
    position: absolute;
    top: 32%;
    left: 18%;
    height: 12%;
    width: 12%;
    display: none;
}

#IRmortartxt{
    position: absolute;
    top: 45%;
    left: 22.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vh;
    height: 5vh;
    width: 6vh;
    font-style: oblique;
}

#IRspectrometer{
    position: absolute;
    top: 61%;
    left: 20%;
    width: 25%;
    height: 25%;
}


#IRchain{
    position: absolute;
    top: 60%;
    left: 23%;
    width: 6%;
}

#IRbigchain{
    position: absolute;
    top: 57%;
    left: 28.5%;
    width: 12%;
}

#IRcap{
    position: absolute;
    top: 62%;
    left: 35%;
    width: 7.5%;
}

#IRstrtbtn{
    position: absolute;
    top: 90%;
    left: 5%;
    width: 10%;
}



#IRgobackbtn{
    position: absolute;
    top: 88%;
    left: 20%;
    width: 10%;
    height: 13%;
    cursor: pointer;
}


#IRgobacktxt{
    position: absolute;
    top: 90%;
    left: 17%;
    font-weight: bold;
    font-size: 1.2vh;
    cursor: pointer;
}

#IRevltbtn{
    position: absolute;
    top: 90%;
    left: 35%;
    width: 10%;
}

#IRexp{
    position: absolute;
    top: 1%;
    left: 50%;
    width: 55%;
    height: 50%;
}

#IRgraph{
    position: absolute;
    top: 54%;
    left: 56%;
    height: 45%;
    width: 30%;
}

#IRinstr{
    position: absolute;
    top: 52%;
    left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    height: 5vh;
    width: 50%
}

#IRspoonfill{
    position: absolute;
    top: 0.1%;
    left: 12.8%;
    height: 20%;
    width: 8%;
    display: none;
}

#IRemptyspoon{
    position: absolute;
    height: 20%;
    width: 8%;
    left: 19%;
    top: 20%;
    z-index: 2;
    display: none;
}

#IRfillsirinj{
    position: absolute;
    height: 20%;
    width: 1.5%;
    left: 30.5%;
    top: 2%;
    display: none;
}

#IRemptysirinj{
    position: absolute;
    height: 20%;
    left: 23.5%;
    top: 20%;
    z-index: 2;
    width: 1.5%;
    display: none;
}


#IRdrop{
    position: absolute;
    top: 28%;
    left: 24%;
    height: 5%;
    width: 0.25%;
    display: none;
}

#IRplate{
    position: absolute;
    top: 34%;
    left: 34%;
    width: 8%;
    display: none;
}

#IRemptyspoon2{
    position: absolute;
    height: 20%;
    left: 32%;
    top: 22%;
    width: 8%;
    display: none;
}

#IRspoonfill2{
    position: absolute;
    height: 20%;
    left: 19%;
    top: 20%;
    z-index: 2;
    width: 8%;
    display: none;
}


#IRfill{
    position: absolute;
    left: 35.5%;
    top: 37.9%;
    width: 4%;
    display: none;
}


#IRgreen1{
    position: absolute;
    z-index: 2;
    width: 45%;
    height: 50%;
    display: none;
}

#IRmachine{
    position: absolute;
    z-index: 6;
    top: 30%;
    left: 15%;
    height: 60%;
    display: none;
}

#IRmachine1{
    position: absolute;
    z-index: 7;
    top: 30%;
    left: 15%;
    height: 60%;
    display: none;
}

#IRverticalline{
    position: absolute;
    left: 49%;
    border-left: thin dotted black;
    z-index: 4;
    height: 90%;
}

#IRhrline1{
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: thin dotted black;
    top: 55%;
    z-index: 4;
}

#IRred2{
    position: absolute;
    width: 6.5%;
    height: 8.8%;
    top: 11%;
    left: 13.5%;
    z-index: 3;
    display: none;
}

#IRgreen2{
    width: 6.5%;
    height: 8.8%;
    position: absolute;
    top: 11%;
    left: 13.5%;
    z-index: 3;
    display: none;

}

#IRgreen3{
    position: absolute;
    z-index: 4;
    width: 45%;
    height: 50%;
    display: none;
}



#IRred3{
    position: absolute;
    z-index: 4;
    width: 45%;
    height: 50%;
    display: none;
}

#IRbeamsplitter{
    position: absolute;
    top: 17.2%;
    left: 67%;
    height: 12%;
}

#IRfixedmirror{
    position: absolute;
    left: 64%;
    height: 4.5%;
    width: 11%;
    top: 0.6%;
}


#IRmovablemirror{
    position: absolute;
    left: 83%;
    top: 17%;
    height: 14.5%;
    width: 14%;
}


/* css ends here for IR solution Experiment*/

#MScontainer{
    display: none;
}


/* css starts here for Mass Spec. Experiment*/

#MShrline1{
    position: absolute;
    z-index: 4;
    top: 60%;
    width: 42%;
    left: 7%;
    border: 1px dotted black;
    border-style: none none dotted;
    color: white;
    background-color: white;
}


#MShrline2{
    position: absolute;
    z-index: 4;
    left: 49%;
    top: 50%;
    width: 42%;
    border: 1px dotted black;
    border-style: none none dotted;
    color: white;
    background-color: white;
}

#MSvrline1{
    position: absolute;
    left: 49%;
    border-left: thin dotted black;
    z-index: 4;
    height: 100%;
    top: 4%;
}


#MSinstr{
    position: absolute;
    top: 57.5%;
    left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    width: 50%;
    z-index: 3;
}


#MSgraph{
    position: absolute;
    top: 52%;
    left: 54%;
    height: 43%;
    width: 33%;
    z-index: 1;
}



#MSsamplsol{
    position: absolute;
    left: 18%;
    top: 9%;
    height: 17%;
    width: 5%;
}

#MSsamplsoltxt{
    position: absolute;
    left: 18%;
    top: 27%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    height: 5vh;
    width: 7vh;
    font-weight: bold;
}

#MSsolvent{
    position: absolute;
    left: 40%;
    top: 9%;
    height: 17%;
    width: 5%;
    cursor: pointer;
}



#MSsolvent1{
    position: absolute;
    left: 40%;
    top: 9%;
    height: 17%;
    width: 5%;
    display: none;
}


#MSsolventtxt{
    position: absolute;
    left: 40%;
    top: 27%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    height: 5vh;
    width: 7vh;
    font-weight: bold;
}

#MSsample{
    position: absolute;
    left: 30%;
    top: 35%;
    width: 5.2%;
    height: 17%;
}


#MSsample2{
    position: absolute;
    left: 30%;
    top: 35.3%;
    height: 20%;
    width: 5.2%;
    display: none;
}


#MSchangebeaker{
    position: absolute;
    left: 29.5%;
    top: 34%;
    height: 18.8%;
    width: 6.2%;
    display: none;
}

#MSsampletxt{
    position: absolute;
    left: 29.5%;
    top: 52.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    width: 7vh;
    height: 5vh;
    font-weight: bold;
}

#MSspectro{
    position: absolute;
    left: 18%;
    top: 65%;
    height: 29%;
    width: 18%;
}

#MSspectrotxt{
    font-weight: bold;
    position: absolute;
    left: 23%;
    top: 66%;
    width: 18%;
    height: 10%;
    font-size: 1.8vh;
}

#MSevaluate{
    position: absolute;
    left: 40%;
    top: 70%;
    width: 8%;
    height: 8%;
}

#MSevlttxt{
    position: absolute;
    left: 41%;
    top: 72.5%;
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vh;
    cursor: default;
    font-weight: bold;
}


#MSgobackbtn{
    position: absolute;
    top: 80%;
    left: 38%;
    width: 10%;
    height: 13%;
    cursor: pointer;
}


#MSgobacktxt{
    position: absolute;
    top: 82.5%;
    left: 40%;
    font-weight: bold;
    font-size: 1.2vh;
    color: yellow;
    cursor: pointer;
}

#MSblue1{
    position: absolute;
    left: 41%;
    top: 2%;
    height: 15%;
    width: 3%;
    display: none;
}

#MSgreen1{
    position: absolute;
    left: 30.5%;
    top: 20%;
    height: 30%;
    width: 4%;
    display: none;
    z-index: 2;
}



#MSspoon1{
    position: absolute;
    left: 15.5%;
    top: 3%;
    height: 20%;
    width: 10%;
    display: none;
}

#MSspoon2{
    position: absolute;
    height: 20%;
    width: 10%;
    top: 27%;
    left:27.5%;
    display: none;
}

#MSfill{
    position: absolute;
    top: 50%;
    left: 30.5%;
    width: 4%;
    height: 2%;
    display: none;
}


#MSsyringe2{
    position: absolute;
    height: 19%;
    top: 24%;
    left: 32%;
    width: 1.5%;
    display: none;
}

#MSsyringe1{
    position: absolute;
    height: 19%;
    left: 41.5%;
    top: 3%;
    width: 1.5%;
    display: none;
}


#MSchamber{
    position: absolute;
    top: 3%;
    left: 56%;
    height: 30%;
    width: 30%;
}



#MSgreennew{
    position: absolute;
    top: 35%;
    left: 53%;
    width: 30%;
    height: 12%;
}

#MSgreennew1{
    position: absolute;
    top: 35%;
    left: 53%;
    width: 30%;
    height: 12%;
    display: none;
}

#MSylwdrop1{
    position: absolute;
    left: 75%;
    top: 40%;
    width: 0.7%;
    height: 1%;
    display: none;
}


#MSylwdrop2{
    position: absolute;
    left: 75%;
    top: 42%;
    width: 0.7%;
    height: 1%;
    display: none;
}


#MSylwdrop3{
    position: absolute;
    left: 73%;
    top: 40%;
    width: 0.7%;
    height: 1%;
    display: none;
}


#MSylwdrop4{
    position: absolute;
    left: 72%;
    top: 41%;
    width: 0.7%;
    height: 1%;
    display: none;
}


#MSylwdrop5{
    position: absolute;
    left: 73%;
    top: 42%;
    width: 0.7%;
    height: 1%;
    display: none;
}

#MStemp1{
    position: absolute;
    left: 55%;
    top: 33%;
    width: 9%;
    height: 12%;
    display: none;
}

#MSion1{
    position: absolute;
    left: 57%;
    top: 36%;
    width: 1.5%;
    height: 1%;
    display: none;
}


#MSion2{
    position: absolute;
    left: 57.5%;
    top: 38%;
    width: 1.5%;
    height: 1%;
    display: none;
}


#MSion3{
    position: absolute;
    left: 58%;
    top: 40%;
    width: 1.5%;
    height: 1%;
    display: none;
}


#MSion4{
    position: absolute;
    left: 58%;
    top: 36%;
    width: 1.5%;
    height: 1%;
    display: none;
}


#MSion5{
    position: absolute;
    left: 60%;
    top: 40%;
    width: 1.5%;
    height: 1%;
    display: none;
}


#MSion6{
    position: absolute;
    left: 60%;
    top: 37%;
    width: 1.5%;
    height: 1%;
    display: none;
}


#MSion7{
    position: absolute;
    left: 58%;
    top: 42%;
    width: 1.5%;
    height: 1%;
    display: none;
}


#MSion8{
    position: absolute;
    left: 61%;
    top: 41%;
    width: 1.5%;
    height: 1%;
    display: none;
}

#MStemp2{
    position: absolute;
    left: 60%;
    top: 30%;
    height: 20%;
    width: 25%;
    display: none;
}


#MShrblue{
    position: absolute;
    top: 60.5%;
    left: 28%;
    height: 25%;
    width: 20%;
    display: none;
}


#MShrgreen{
    position: absolute;
    top: 60.5%;
    left: 28%;
    height: 25%;
    width: 20%;
    display: none;
}

#MSrainbow{
    position: absolute;
    top: 33%;
    left: 65%;
    height: 15%;
    width: 15%;
    display: none;
}


#MSline{
    position: absolute;
    top: 33.2%;
    left: 65.3%;
    height: 15%;
    width: 15%;
    opacity: 0;    
}

#MSbox1{
    position: absolute;
    top: 13%;
    left: 64%;
    height: 9%;
    width: 4.5%;
    display: none;
}

#MSbox{
    position: absolute;
    top: 11%;
    left: 56%;
    height: 8%;
    width: 4%;
    display: none;
}

#MSarrow{
    position: absolute;
    top: 5%;
    left: 58.5%;
    height: 6%;
    width: 1%;
    display: none;
}

#MSarrow1{
    position: absolute;
    top: 6%;
    left: 65.5%;
    height: 6%;
    width: 1%;
    display: none;
}

#MSarrow2{
    position: absolute;
    top: 20%;
    left: 54%;
    height: 15%;
    width: 9%;
    display: none;
}

#MSinnerinstr{
    position: absolute;
    top: 47%;
    left: 49%;
    width: 51%;
    height: 3%;
    display: none;
}


#MSinnerinstrtxt{
    position: absolute;
    top: 47.5%;
    left: 49.5%;
    font-size: 70%;
    width: 50%;
    height: 3%;
    display: none;
}




/* css ends here for Mass Spec. Experiment*/


#NMRcontainer{
    display: none;

}

/* css starts for NMR experiment */

#NMRborder{
    position: absolute;
    top: 5%;
    left: 2%;
    height: 90%;
    width: 100%;
}

#NMRsample-button{
    position: absolute;
    top: 2%;
    left: 12%;
    height: 10%;
    width: 10%;
    cursor: pointer;
}

#NMRload-sample{
    position: absolute;
    top: 2%;
    left: 38%;
    height: 10%;
    width: 10%;
}


#NMRstart{
    position: absolute;
    top: 12%;
    left: 38%;
    height: 10%;
    width: 10%;
}


#NMRplot{
    position: absolute;
    top: 22%;
    left: 38%;
    height: 10%;
    width: 10%;
}

#NMRinjector{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 3%;
    height: 35%;
}


#NMRred-injector{
    position: absolute;
    top: 12%;
    left: 25%;
    height: 37%;
    width: 3%;
    z-index: 2;
    display: none;
}

#NMRmagentic-field{
    position: absolute;
    top: 38%;
    left: 7%;
    width: 38%;
    z-index: 3;
    height: 44.8%;
}

#NMRcurve{
    position: absolute;
    top: 59%;
    left: 23%;
    width: 7.2%;
    height: 2.8%;
}


#NMRs-pole{
    position: absolute;
    top: 5%;
    left: 49%;
    height: 35%;
    width: 10%;
}

#NMRn-pole{
    position: absolute;
    top: 5%;
    left: 80%;
    height: 35%;
    width: 10%;
}

#NMRconstant-molecules{
    position: absolute;
    top: 10%;
    left: 60%;
    width: 20%;
}

#NMRring{
    left: 23%;
    position: absolute;
    top: 40%;
    width: 7%;
    height: 6%;
    display: none;
}

#NMRmolecules{
    position: absolute;
    left: 60%;
    top: 8%;
    width: 20%;
}

#NMRevaluate{
    position: absolute;
    top: 88%;
    left: 40%;
    height: 10%;
    width: 8%;
}


#NMRgobackbtn{
    position: absolute;
    top: 86%;
    left: 7%;
    width: 10%;
    height: 13%;
    cursor: pointer;
}


#NMRgobacktxt{
    position: absolute;
    top: 88%;
    left: 9%;
    font-weight: bold;
    font-size: 1.5vh;
    cursor: pointer;
}

#NMRgraph{
    position: absolute;
    top: 50%;
    left: 52%;
    height: 46%;
    width: 42%;
}


#NMRbenzene-graph{
    position: absolute;
    top: 50%;
    left: 56%;
    height: 47%;
    z-index: 2;
    width: 45%;
    display: none;
}

#NMRup-arrow{
    position: absolute;
    top: 38%;
    left: 63%;
    height: 10%;
    width: 10%;
    display: none;
}

#NMRbelow-arrow{
    position: absolute;
    top: 85%;
    left: 20%;
    height: 10%;
    width: 10%;
    display: none;
}

#NMRvertical-arrows{
    position: absolute;
    top: 1%;
    left: 23%;
    height: 25%;
    width: 7%;
    z-index: 3;
    display: none;
}

#NMRhorizontal-arrows-2{
    position: absolute;
    top: 30%;
    left: 55%;
    height: 6%;
    width: 7%;
    display: none;
}


#NMRhorizontal-arrows-1{
    position: absolute;
    top: 10%;
    left: 55%;
    height: 6%;
    width: 7%;
    display: none;
}

/* css ends here for NMR experiment */