#border{
    position: absolute;
    top: 5%;
    left: 18%;
    height: 90%;
}

#sample-button{
    position: absolute;
    top: 2%;
    left: 12%;
    height: 10%;
}

#load-sample{
    position: absolute;
    top: 2%;
    left: 38%;
    height: 10%;
}


#start{
    position: absolute;
    top: 12%;
    left: 38%;
    height: 10%;
}


#plot{
    position: absolute;
    top: 22%;
    left: 38%;
    height: 10%;
}

#injector{
    position: absolute;
    top: 15%;
    left: 25%;
    height: 35%;
}


#red-injector{
    position: absolute;
    top: 15%;
    left: 25%;
    height: 35%;
    display: none;
}

#magentic-field{
    position: absolute;
    top: 40%;
    left: 6%;
    width: 40%;
}

#curve{
    position: absolute;
    top: 59%;
    left: 22.5%;
    width: 8%;;
}


#s-pole{
    position: absolute;
    top: 5%;
    left: 49%;
    height: 35%;
}

#n-pole{
    position: absolute;
    top: 5%;
    left: 80%;
    height: 35%;
}

#constant-molecules{
    position: absolute;
    top: 10%;
    left: 60%;
    display: none;
}

#ring{
    left: 23%;
    position: absolute;
    top: 40%;
    display: none;
}

#molecules{
    position: absolute;
    left: 60%;
    top: 8%;
    width: 20%;
}

#evaluate{
    position: absolute;
    top: 88%;
    left: 40%;
    height: 10%;
}


#gobackbtn{
    position: absolute;
    top: 86%;
    left: 7%;
    width: 10%;
    height: 13%
}


#gobacktxt{
    position: absolute;
    top: 88%;
    left: 9%;
    font-weight: bold;
    font-size: 100%;
}

#graph{
    position: absolute;
    top: 50%;
    left: 55%;
    height: 46%;
}


#benzene-graph{
    position: absolute;
    top: 50%;
    left: 56%;
    height: 47%;
    z-index: 2;
    display: none;
}

#up-arrow{
    position: absolute;
    top: 38%;
    left: 63%;
    display: none;
}

#below-arrow{
    position: absolute;
    top: 80%;
    left: 20%;
    height: 10%;
    display: none;
}

#vertical-arrows{
    position: absolute;
    top: 30%;
    left: 23%;
    display: none;
    z-index: 3;
}

#horizontal-arrows-2{
    position: absolute;
    top: 30%;
    left: 55%;
    display: none;
}


#horizontal-arrows-1{
    position: absolute;
    top: 10%;
    left: 55%;
    display: none;
}