#aspirin{
    position: absolute;
    top: 22%;
    left: 5%;
    width: 8%;
    height: 7%;
    border: darkblue;
}

#asprntxt{
    position: absolute;
    top: 23%;
    left: 6%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%;
    font-weight: bold;
}

#cafine{
    position: absolute;
    top: 32%;
    left: 5%;
    width: 8%;
    height: 7%;
    border: darkred;
}

#cafintxt{
    position: absolute;
    top: 33%;
    left: 6%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%;
    font-weight: bold;
}

#sampl{
    position: absolute;
    top: 7%;
    left: 15%;
    height: 15%;
    width: 5%;
}

#sampltxt{
    position: absolute;
    top: 22%;
    left: 16%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%; 
}

#nizol{
    position: absolute;
    top: 7%;
    left: 29%;
    height: 15%;
    width: 5%;
}

#nizoltxt{
    position: absolute;
    top: 22%;
    left: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%;
}

#mortar{
    position: absolute;
    top: 32%;
    left: 18%;
    height: 12%;
    width: 12%;
}


#mortar1{
    position: absolute;
    top: 32%;
    left: 18%;
    height: 12%;
    width: 12%;
    display: none;
}

#mortartxt{
    position: absolute;
    top: 45%;
    left: 22.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 160%;
    font-style: oblique;
}

#spectrometer{
    position: absolute;
    top: 64%;
    left: 18%;
    width: 25%;
    height: 25%;
}


#chain{
    position: absolute;
    top: 63%;
    left: 21%;
    width: 6%;
}

#bigchain{
    position: absolute;
    top: 60%;
    left: 26.5%;
    width: 12%;
}

#cap{
    position: absolute;
    top: 65%;
    left: 33%;
    width: 7.5%;
}

#strtbtn{
    position: absolute;
    top: 90%;
    left: 10%;
    width: 10%;
}


#evltbtn{
    position: absolute;
    top: 90%;
    left: 35%;
    width: 10%;
}

#exp{
    position: absolute;
    top: 1%;
    left: 50%;
    width: 55%;
    height: 50%;
}

#graph{
    position: absolute;
    top: 54%;
    left: 54%;
    height: 45%;
    width: 35%;
}

#instr{
    position: absolute;
    top: 52%;
    left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%;
}

#spoonfill{
    position: absolute;
    top: 0.1%;
    left: 13%;
    height: 20%;
    display: none;
}

#emptyspoon{
    position: absolute;
    height: 20%;
    left: 19%;
    top: 20%;
    z-index: 2;
    display: none;
}

#fillsirinj{
    position: absolute;
    height: 20%;
    left: 30.5%;
    top: 2%;
    display: none;
}

#emptysirinj{
    position: absolute;
    height: 20%;
    left: 23%;
    top: 25%;
    display: none;
}


#plate{
    position: absolute;
    top: 34%;
    left: 34%;
    display: none;
}

#emptyspoon2{
    position: absolute;
    height: 20%;
    left: 32%;
    top: 22%;
    display: none;
}

#spoonfill2{
    position: absolute;
    height: 20%;
    left: 19%;
    top: 20%;
    z-index: 2;
    display: none;
}


#fill{
    position: absolute;
    left: 35.5%;
    top: 37.5%;
    display: none;
}


#green1{
    position: absolute;
    z-index: 2;
    width: 45%;
    height: 50%;
    display: none;
}

#machine{
    position: absolute;
    z-index: 6;
    top: 30%;
    left: 15%;
    height: 50%;
    display: none;
}

#verticalline{
    position: absolute;
    left: 49%;
    border-left: thin dotted black;
    z-index: 4;
    height: 90%;
}

#hrline1{
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: thin dotted black;
    top: 55%;
    z-index: 4;
}

#red2{
    position: absolute;
    width: 6.5%;
    height: 8.8%;
    top: 11%;
    left: 13.5%;
    z-index: 3;
    display: none;
}

#green2{
    width: 6.5%;
    height: 8.8%;
    position: absolute;
    top: 11%;
    left: 13.5%;
    z-index: 3;
    display: none;

}

#green3{
    position: absolute;
    z-index: 4;
    width: 45%;
    height: 50%;
    display: none;
}



#red3{
    position: absolute;
    z-index: 4;
    width: 45%;
    height: 50%;
    display: none;
}